<h5> <%= "[student id here]" %> </h5>
<%# Link button to logon page %>
<button href="/" type="button">Logout</button>

<table class="striped">
    <thead>
        <tr style="">
            <th>Course Name</th>
            <th>Course Grade</th>
        </tr>
    </thead>
    <tbody>
        <%# Need to limit to the enrolled courses %>
        <% @courses.each do |course| %>
            <tr>
                <td><a href="/courses/<%= course.course_id %>"><%= course.long_title %></a></td>
                <%# Fetch student grade information here %>
                <td>Sample Course Grade</td>
            </tr>
        <% end %>
    </tbody>
</table>

