<h1> <%= @student.student_id %> </h1>
<h4> <%= @student.first_name + " " + @student.last_name %> </h4>

<table class="striped">
    <thead>
        <tr style="">
            <th>Course Name</th>
            <th>Course Grade</th>
        </tr>
    </thead>
    <tbody>
        <%# Need to limit to the enrolled courses %>
        <% @courses.each do |course| %>
            <tr>
                <td><a href="/courses/<%= course.course_id %>"><%= course.long_title %></a></td>
                <%# Fetch student grade information here %>
                <td>Sample Course Grade</td>
            </tr>
        <% end %>
    </tbody>
</table>

