<h3> Add new comment to <%= @student.full_name %>'s submission</h3>

<%= form_with(url: submission_comments_path, id: "comment-form") do %>
  <%= text_field_tag :text, nil, placeholder: "Comment", required: true %>
  <%= submit_tag 'Add Comment' %>
<% end %>