<h3> Add new comment to <%= @studentName %>'s submission</h3>

<%= form_with(url: submission_comments_path, id: "comment-form", method: "post") do |form| %>
  <%= text_field :text, required: true %>
  <%= submit_tag 'Add Comment' %>
<% end %>