<h3> Add new comment to <%= @student.full_name %>'s submission</h3>

<%= form_with(url: course_assignment_submission_comments_path(params[:course_id], params[:assignment_id], @submission), id: "comment-form") do %>
  <%= text_field_tag :text, nil, placeholder: "Comment", required: true %>
  <%= submit_tag 'Add Comment' %>
<% end %>