<h3> <%= @marker.first_name %> </h3>
<button class="btn" onclick="location.href='/login/show'">Logout</button>
<table class="striped">
    <thead>
        <tr style="">
            <th> <i class="material-icons">assignment</i>   Courses </th>
        </tr>
    </thead>
    <tbody>
        <% @courses.each do |course| %>
            <tr>
                <td> <%= course.long_title %> </td>
            </tr>
        <% end %>
    </tbody>

</table>