<h3> <%= @assignment.title %> </h3>
<h5> <%= @student.id %> </h5>

<table class="striped">
    <thead>
        <tr style="">
            <th> <i class="material-icons">chat</i>    Comment </th>
            <th> <i class="material-icons">account_box</i>     Marker </th>
        </tr>
    </thead>
    <tbody>
        <% @comments.each do |comment| %>
            <tr>
                <td> <%= comment.content %> </td>
                <td> <%= "a#{comment.marker.id}" %> </td>
            </tr>
        <% end %>
    </tbody>
</table>