/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    font-family: "Raleway";
}

.box-pad {
    margin: 1.4em;
}

.center-vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: normal;
}

.flash-wrapper {
    border: solid #e65100 1px;
    border-radius: 14px;
    background-color: #ffeddf;
    color: #c72e00;
    display: inline-block;
}

.grey-box {
    border: solid lightgrey 1px;
}

.breadcrumbs {
    color: red !important;
}

.breadcrumbs a:any-link {
    color: #ff7242 !important;
}

.grade-prediction {
    max-width: 5em;
}

.breadcrumbs a:hover {
    color: red !important;
}

.heading-style {
    font-family: "Nunito";
    color: #ff7242 !important;
}

th {
    vertical-align: middle;
}